{% extends "admin-base.html" %} {% block title %} Admin authors{% endblock %} {% block content %}

<!--
<div class="container-boxes">
    {% for books in photo %}
    <div class="picture-area">
        <img src="D:\User\nithin_peter\Python flask\New folder\LibraryMgmnt1\app\static\img\Librarian.jpg"> </div> {% endfor %} {% for items in detail %}
    <div class="text-area">
        <td> author </td>
        <td> place </td>
        <td> age </td>
        <td> gender </td>
        <td> book </td>
    </div>
    <!--{% endfor %}--
</div>
-->

<div class="container-boxes">
    author2
</div>
<div class="container-boxes">
    author3
</div>
<div class="container-boxes">
    box4
</div>
<div class="container-boxes">
    box5
</div>
<div class="container-boxes">
    box6
</div>
{% endblock %}